# Railway akan mengisi DATABASE_URL otomatis setelah tambah plugin PostgreSQL
# DATABASE_URL=postgresql://user:password@host:port/dbname

# Untuk lokal, isi manual:
DATABASE_URL=postgresql://postgres:password@localhost:5432/absensi_magang

# Wajib diisi (ganti dengan string acak panjang & rahasia)
JWT_SECRET=ganti-dengan-string-rahasia-yang-panjang

# Railway mengisi ini otomatis
PORT=3000
NODE_ENV=production
